@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  margin: 0;
  background: #080808;
}

::selection {
  color: #080808;
  background: #c9a96e;
}
